body{
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
  margin: 0;
}

.title{
  text-align: right;
  position: absolute;
  top: 0px;
  width:80%;
}
canvas {
  border: 1px solid black;
  background: #EEEEEE;
}
.invisible {
  display: none;
}
.text-center {
  text-align: left;
}

#container{
  width: 0%;
}
.center-block {
  display: block;
  margin: auto;
  position: relative;
  width: 494px;
  height: 372px;
}

#canvasOutput2{
  width: 494px;
  height: 372px;

}

#canvasOutput9{
  position: absolute;
  right:30px;
  top:23px;
}

.frame{
  background-color: #fff;
  box-shadow: 3px 5px 10px 3px hsla(0, 0%, 0%, .6),
    inset 2px 2px 2px #655662, /* initial value Left and top */
    inset -2px -2px 2px #333, /* initial value right and bottom */

    inset 2px 0 0 #777, /* left side */
    inset 0 2px 2px #737373, /* top */
    inset -2px 0 2px #aaa, /* right side */
    inset 0 -2px 2px #aaa, /* bottom */

    inset 2px 0 2px #808080,
    inset 0 2px 0 #808080,
    inset -1px 0 2px #909090,
    inset 0 -2px 2px #999,

    inset 3px 0 2px #888,
    inset 0 3px 2px #888,
    inset -3px 0 0 #8f8f8f,
    inset 0 -3px 2px #aaa,

    inset 4px 0 2px #959595,
    inset 0 4px 2px #959595,
    inset -3px 0 2px #aaa,
    inset 0 -4px 0 #aaa,

    inset 5px 0 0 #a3a3a3,
    inset 0 5px 0 #aaa,
    inset -5px 0 0 #bbb,
    inset 0 -3px 0 #fff,

    inset 5px 1px 2px #bbb,
    inset 1px 5px 2px #a4a4a4,
    inset -5px 0 2px #bbb,
    inset 0 -5px 2px #fff,

    inset 5px 1px 2px #bbb,
    inset 1px 5px 2px #a4a4a4,
    inset -5px 0 2px #bbb,
    inset 0 -5px 2px #fff,

    inset 5px 1px 2px #fff,
    inset 1px 5px 2px #ddd,
    inset -5px 0 2px #ccc,
    inset 0 -5px 2px #fff,

    inset 7px 1px 2px #fff,
    inset 1px 7px 2px #ddd,
    inset -7px 0 2px #ccc,
    inset 0 -7px 2px #aaa,

    inset 5px 1px 0 #e5e5e5,
    inset 1px 8px 0 #c4c4c4,
    inset -7px 0 0 #ccc,
    inset 0 -7px 0 #ccc,

    inset 5px 1px 0 #aaa,
    inset 1px 8px 0 #959595,
    inset -7px 0 0 #ccc,
    inset 0 -7px 0 #ccc,

    inset 7px 1px 0 #959595,
    inset 1px 8px 0 #777,
    inset -7px 0 0 #ccc,
    inset 0 -5px 0 #ccc,

    inset 7px 0 0 #777,
    inset 3px 7px 0 #555,
    inset -10px 0 0 #fff,
    inset 0 -7px 0 #fff,

    inset 8px 7px 8px #333,
    inset 7px 10px 8px #333,
    inset -11px -2px 2px #000,
    inset 0 -8px 2px #000;
  height: 525px;
  width: 700px;
  top: 110px;
  right: 160px;
  position: absolute;
}

/*#reset_button{
  display: inline-block;
  position: relative;
  width: 150px;
  height: 60px;
  left: 30px;
  bottom: 25px;
  text-align: center;
  border: 2px solid #990000;
  font-size: 16px;
  color: #990000;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
}

#reset_button:hover{
  background-color: #CCCCCC;
 border-color: #990000;
 color: #990000;
}*/

#download_button{
  display: inline-block;
  position: relative;
  width: 150px;
  height: 60px;
  left: 50px;
  bottom:25px;
  text-align: center;
  border: 2px solid #003366;
  font-size: 16px;
  color: #003366;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
}

#download_button:hover {
  background-color: #003366;
 border-color: #003333;
 color: #FFF;
 }
